<header style="size: 20px;" class="main-header">
   <!-- Start Navigation -->
   <nav style="background-color:transparent" class="navbar navbar-expand-md navbar-default bootsnav">
      <div class="container">
         <!-- Start Header Navigation -->
         <div class="navbar-header">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
               aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
               <i class="fa fa-bars"></i>
            </button>
           
               <a class="navbar-brand">
                  <h1
                     style="text-shadow: black ; color: black; font-style:italic; margin-top: -23px; font-weight: bold ; font-size: 40px;">
                     E-Shop</h1>
               </a>
         </div>

         <!-- End Header Navigation -->

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div style="color: blue;" class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
               <li class="nav-item active"><a style="color: black;" class="nav-link" href="index.html">Home</a></li>
               <li class="nav-item"> <a style="color: black;" class="nav-link" href="/product/all">Products</a></li>
             
            </ul>
          
         </div>
         <!-- /.navbar-collapse -->

         <!-- Start Atribute Navigation -->
         <div class="col-md-4">
            <div class="search">
              
            </div>
         </div>
         <!-- End Atribute Navigation -->
      </div>
      <!-- Start Side Menu -->
   </nav>
   <!-- End Navigation -->
</header>
